:root {
  --lightText: #f5f5dc;
  --btn-shadow: hsla(0, 0%, 0%, 0.5);
  --btn-0: hsl(229, 26%, 50%);
  --btn-10: hsl(228, 34%, 35%);
  --btn-20: hsl(227, 47%, 28%);
  --ripple: hsla(210, 22%, 47%, 0.3);
  --d0: hsl(0, 10%, 7%);
  --d1: hsl(0, 10%, 12%);
  --d2: hsl(0, 10%, 13%);
  --d3: hsl(0, 10%, 14%);
  --d4: hsl(0, 10%, 15%);
  --d5: hsl(0, 10%, 17%);
  --d6: hsl(0, 10%, 18%);
  --d7: hsl(0, 10%, 20%);
  --d8: hsl(0, 10%, 20%);
  --d9: hsl(0, 10%, 22%);
  --good: var(--btn-0);
  --poor: hsl(39, 76%, 52%);
  --bad: hsl(0, 70%, 52%);
}
p {
  margin: 0;
}
body {
  font-family: 'Calibri';
  background-color: var(--d0);
  margin: 0;
}
.main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(11em, 1fr));
  grid-auto-flow: dense;
  gap: 0.6em;
  margin: 0.6em;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotate {
  animation: rotation 1s infinite linear;
}
.good {
  color: var(--good);
}
.bad {
  color: var(--bad);
}
.poor {
  color: var(--poor);
}
.good-bg {
  background-color: var(--good);
}
.bad-bg {
  background-color: var(--bad);
}
.poor-bg {
  background-color: var(--poor);
}
.card {
  position: relative;
  background: var(--d2);
  min-height: 20px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  transition: all 1s ease-in-out;
  filter: drop-shadow(0px 0px 4px var(--btn-shadow));
}
.card .cardicon {
  position: absolute;
  right: 0px;
  font-size: 1em;
  padding: 0.4em;
}
.card.large .cardicon,
.card.tall .cardicon {
  font-size: 2em;
}
.iconcolor {
  color: var(--lightText);
  opacity: 0.5;
}
.iconcolor-on {
  color: var(--btn-0);
  opacity: 0.9;
  filter: drop-shadow(0px -4px 8px var(--btn-0));
}
.ventrun {
  color: var(--btn-0);
  opacity: 0.9;
  filter: drop-shadow(0px -4px 8px var(--btn-0));
}
.bulbshine {
  color: yellow;
  opacity: 0.9;
  filter: drop-shadow(0px -4px 8px yellow);
}
.card .img {
  position: absolute;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 65%;
  opacity: 0.5;
  display: none;
  z-index: -1;
}
.card.large .img {
  right: 65%;
  opacity: 1;
  display: block;
  filter: drop-shadow(2px 0px 6px black);
}
.card.large {
  grid-column: span 2;
  grid-row: span 2;
}
.card.wide {
  grid-column: span 2;
}
.card.tall {
  grid-row: span 2;
}
.card .cardhead {
  position: relative;
  background-color: var(--d5);
  filter: drop-shadow(0px 2px 2px var(--btn-shadow));
  cursor: pointer;
}
.card header {
  font-size: 1em;
  color: var(--lightText);
  text-transform: uppercase;
  padding-left: 0.4em;
  white-space: nowrap;
}
.card header.subheader {
  font-size: 0.65em;
  padding-left: 0.6em;
  position: relative;
  top: -2px;
  opacity: 0.75;
}
.card.large header {
  font-size: 2em;
}
.card.large .subheader {
  font-size: 1.1em;
}
.card.tall header {
  font-size: 1.3em;
}
.card.tall .subheader {
  font-size: 0.8em;
}
.devicecontrols {
  margin: auto;
  justify-content: space-between;
}
.card.large .datefield,
.card.tall .datefield,
.card.wide .datefield {
  display: block;
}
.card.wide .devicecontrols {
  margin-left: 40%;
}
.datefield {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-left: 1em;
  padding-bottom: 0.4em;
  color: var(--lightText);
  opacity: 0.75;
  display: none;
}
.fillgauge {
  position: relative;
}
.fillgauge .bar {
  position: absolute;
  height: 0;
  background: red;
  left: 0%;
  right: 0%;
  bottom: 0%;
  transition: all 2s ease-in-out;
  z-index: 5;
  opacity: 1;
  box-shadow: 0px -6px 6px 0 #1b1b1b2b;
}
.card.large .fillgauge .bar {
  left: 35%;
}
.card.large .fillgauge .value {
  font-size: 4rem;
  margin-left: 35%;
}
.card.large .fillgauge .unit {
  font-size: 2rem;
}
.fillgauge .value {
  position: relative;
  color: var(--lightText);
  text-align: center;
  font-size: 2rem;
  text-shadow: 0 0 4px var(--d9);
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
}
.fillgauge .unit {
  font-size: 1rem;
  padding-left: 0.25em;
  vertical-align: super;
}
.fillgauge:after {
  content: '';
  width: 0.5em;
  position: absolute;
  bottom: 2px;
  top: 2px;
  right: 1px;
  z-index: 15;
  opacity: 0.6;
  background-image: linear-gradient(var(--lightText) 33%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 0.5em 0.25em;
  background-repeat: repeat-y;
}
.fillgauge .minmax {
  color: var(--lightText);
  position: absolute;
  font-size: 0.7rem;
  right: 1.2em;
  text-align: right;
  z-index: 20;
}
.fillgauge .minmax.min {
  bottom: 0;
}
.fillgauge .minmax.max {
  top: 0;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: var(--ripple) radial-gradient(circle, transparent 1%, var(--ripple) 1%) center / 15000%;
}
.ripple:active {
  background-color: var(--btn-20);
  background-size: 100%;
  transition: background 0s;
}
.button {
  display: inline-block;
  border: none;
  border-radius: 100em;
  text-align: center;
  padding: 0.6em;
  margin: 0.2em 0.4em;
  min-width: 4em;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--lightText);
  background-color: var(--d5);
  box-shadow: 0px 2px 6px 2px var(--btn-shadow);
  outline: none;
}
button:hover {
  filter: saturate(2);
}
.on {
  background-color: var(--btn-0);
}
.off {
  background-color: var(--btn-20);
}
.auto {
  background-color: var(--btn-0);
}
.manual {
  background-color: var(--btn-20);
}
.hidden {
  display: none;
}
.wifistate {
  position: relative;
  text-align: center;
  margin: auto 0;
  user-select: none;
}
.wifistate .value {
  font-size: 2rem;
  padding-left: 0.2em;
  color: var(--lightText);
  cursor: pointer;
}
.wifistate .name {
  display: block;
  font-size: 1rem;
  opacity: 0.75;
  color: var(--lightText);
  cursor: pointer;
}
.wifistate .unit {
  position: relative;
  bottom: 0.5em;
  font-size: 0.7rem;
  padding-left: 0.4em;
  vertical-align: super;
  color: var(--lightText);
  cursor: pointer;
}
.wifilevelicon {
  font-size: 1.6rem;
  cursor: pointer;
}
.wifichart {
  user-select: none;
  margin: auto 1em;
}
.chartrow {
  font-size: 0.8rem;
  color: var(--lightText);
  display: grid;
  grid-template-columns: 2.5fr 7fr 1fr;
}
.rowname {
  grid-column: 1 / 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 1em;
  text-align: end;
  opacity: 0.75;
}
.rowline {
  grid-column: 2 / 3;
  margin-top: 4px;
  margin-bottom: 3px;
  transition: width 1.5s ease-in-out;
  cursor: pointer;
}
.rowline:hover,
.wifistate:hover {
  filter: drop-shadow(1px 1px 6px var(--btn-shadow)) brightness(1.3);
}
.rowvalue {
  grid-column: 3 / 4;
  text-align: start;
  padding-left: 1em;
  opacity: 0.75;
}
